<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haha.mapper.GalleryMapper">

<insert id="insert">
INSERT INTO tbl_gallery ( gacreage , gaddress , garea , gborrow_start , gborrow_end , gcategory ,
gesp , gexplanation , gallery_name , ghomepage , glat , glng , gdirector , gopenyear ,
gosp, gpa , gphone , gregdate , gupdatedate , pno  , uno) 
values 
( #{gacreage} , #{gaddress} , #{garea} , #{gborrow_start} , #{gborrow_end} , #{gcategory} , #{gesp} , #{gexplanation} , 
#{gallery_name} , #{ghomepage}, #{glat} , #{glng} , #{gdirector} , #{gopenyear} , #{gosp} , #{gpa} , #{gphone} ,
sysdate() , sysdate() , #{pno} , #{uno} )
</insert>

<select id="read" resultType="GalleryVO">
SELECT *
  FROM tbl_gallery
 WHERE gno = #{gno}
</select>

<update id="update">
update tbl_gallery set 
gacreage = #{gacreage} , 
gaddress = #{gaddress} , 
garea =#{garea} , 
gborrow_start = #{gborrow_start} , 
gborrow_end = #{gborrow_end} ,
gcategory = #{gcategory} , 
gesp = #{gesp} , 
gexplanation = #{gexplanation} , 
gallery_name = #{gallery_name} ,
 ghomepage = #{ghomepage} , 
 glat = #{glat} ,
glng = #{glng}, 
gdirector = #{gdirector} , 
gosp = #{gosp} , 
gpa = #{gpa} , 
gphone = #{gphone} , 
gupdatedate = sysdate() ,
gopenyear = #{gopenyear} ,
pno = #{pno} ,
uno = #{uno}
where gno = #{gno}; 
</update>

<delete id="delete">
DELETE FROM tbl_gallery
      WHERE gno = #{gno}
</delete>


</mapper>