<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haha.mapper.UserMapper">

<select id="select" resultType="UserVO">
select * from tbl_user
</select>

<insert id="register">
insert into tbl_user ( uid, upw, uname, uimage, uemail, uphonenumber, ctno)
VALUES(#{uid}, #{upw}, #{uname}, #{uimage}, #{uemail}, #{uphonenumber}, #{ctno})
</insert>

<select id="read" resultType="UserVO">
select * from tbl_user where uno = #{uno}
</select>

<update id="update">
update tbl_user 
SET uid = #{uid} , upw = #{upw} , uname = #{uname} , uimage = #{uimage} , uemail = #{uemail},
uphonenumber = #{uphonenumber} , ctno = #{ctno} where uno = #{uno}

</update>

<delete id="delete">
delete FROM tbl_user WHERE uno = #{uno}
</delete>

</mapper>